* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Teko", sans-serif;
  background-color: rgb(17, 16, 16);
  color: rgb(255, 247, 238);
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sequencer h1 {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(rgb(255, 240, 33), rgb(255, 112, 17));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad,
.perc-pad,
.tom-pad {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.7rem 0.4rem;
  cursor: pointer;
}

.kick-pad {
  background-color: rgb(208, 247, 208);
}
.snare-pad {
  background-color: rgb(247, 203, 189);
}
.hihat-pad {
  background-color: rgb(250, 241, 192);
}
.perc-pad {
  background-color: rgb(189, 241, 237);
}
.tom-pad {
  background-color: rgb(230, 208, 247);
}

.kick-pad.active {
  background-color: rgb(116, 240, 116);
}
.snare-pad.active {
  background-color: rgb(245, 137, 104);
}
.hihat-pad.active {
  background-color: rgb(243, 221, 98);
}
.perc-pad.active {
  background-color: rgb(89, 238, 225);
}
.tom-pad.active {
  background-color: rgb(183, 100, 247);
}

.kick-track,
.snare-track,
.hihat-track,
.perc-track,
.tom-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.kick,
.snare,
.hihat,
.perc,
.tom {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 1rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background-color: rgb(255, 251, 251);
  color: rgb(14, 13, 12);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  justify-content: space-between;
  width: 15%;
}

.pad {
  transition: all 0.2s ease-in-out;
}

.play {
  border: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 800;
  background-color: rgb(141, 226, 13);
  color: rgb(253, 253, 245);
  cursor: pointer;
  margin-top: 2rem;
}

select {
  width: 40%;
  padding: 1rem;
  font-size: 0.8rem;
  margin-left: 1rem;
}

.mute.active {
  background-color: rgb(216, 84, 84);
}

.tempo {
  margin: 2rem;
  width: 50%;
}

.tempo-slider {
  padding: 0.12rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: radial-gradient(
    circle,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  border-radius: 0.5rem;
  cursor: pointer;
}

.tempo p {
  font-size: 1.5rem;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
